/* global.css */
/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";

@tailwind base; 
@tailwind components; 
@tailwind utilities;

:root {
  --cosmic-void: #0d0d0d;
  --guide-light: #fdfdfd;
  
  --nitrogen-red: #d10000;
  --oxygen-blue: #0077b6;
  --golden-touch: #ffc300;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  
  background-color: var(--guide-light);
  color: var(--cosmic-void);
  
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  background-color: var(--cosmic-void);
  color: var(--guide-light);
}

body {
  @apply m-0;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--nitrogen-red);
  border-radius: 9999px;
  border: 1px solid var(--guide-light);
}

html.dark body::-webkit-scrollbar-thumb {
  border-color: var(--cosmic-void);
}

.shadow-default {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.dark .shadow-dark {
    box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.05), 0 4px 6px -4px rgba(255, 255, 255, 0.05);
}