---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="
	service-card 
	p-4 rounded-lg text-left shadow-default transition-all duration-300 
	bg-guide-light border border-oxygen-blue 
	dark:bg-cosmic-void dark:shadow-dark dark:border-oxygen-blue
	hover:translate-y-[-5px] hover:border-nitrogen-red
">
	<h3 class="text-xl mt-0 mb-2 font-semibold text-oxygen-blue dark:text-golden-touch">{title}</h3>
	<p class="text-base leading-relaxed text-justify">{description}</p>
</div>