---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="service-card">
	<h3>{title}</h3>
	<p>{description}</p>
</div>

<style>
	.service-card {
		background-color: inherit;
		border: 1px solid var(--oxygen-blue);
		border-radius: 8px;
		padding: 1em;
		text-align: left;
		box-shadow: var(--box-shadow);
		transition: transform 0.3s ease, border-color 0.3s ease;
	}
	.service-card:hover {
		transform: translateY(-5px);
		border-color: var(--nitrogen-red);
	}
	.service-card h3 {
		font-size: 1.5em;
		margin-top: 0;
		margin-bottom: 0.5em;
	}
	.service-card p {
		font-size: 1em;
		line-height: 1.6;
		text-align: justify;
	}
</style>
