---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../components/layout/BaseHead.astro';
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Breadcrumbs from '../components/breadcrumbs/Breadcrumbs.astro';
import CaseCard from '../components/cards/CaseCard.astro';
import { SITE_DESCRIPTION } from '../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Casos de uso de MyCn18" description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen flex flex-col bg-guide-light dark:bg-cosmic-void">
		<Header />
		<Breadcrumbs path={Astro.url.pathname} />
		<main class="grow w-full max-w-5xl mx-auto p-4 md:p-8">
			<h1 class="text-4xl sm:text-5xl font-extrabold text-center mb-8">
				Casos de Uso (Blog)
			</h1>

			<ul class="flex flex-wrap gap-8 list-none p-0 m-0">
				{posts.map((post, index) => (
					<li class={`
						w-full 
						${index === 0 ? 'md:w-full mb-8' : 'md:w-[calc(50%-1rem)]'}
						transition-all duration-300
					`}>
						<CaseCard post={post} />
					</li>
				))}
			</ul>
		</main>
		<Footer />
	</body>
</html>